.card {
  width: 300px;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin:0px;
}


.photo{
  width:150px;
  border-radius:50%;
  margin: "0 auto";
  overflow: "hidden";
  margin-bottom: "15px";
}

.rank{
      margin-top: "25px";
      display: "flex";
      justify-content: "space-around";
      padding-top: "10px";
      border-top: "1px solid #eee";

}

/* .follow{
  padding: 20px;
  
} */

.follow li{
  list-style:none;
  font-size:20px;
}